In [ ]:
# Set (Unordered,Unindixed,No duplicate)

In [1]:
b={}
print(type(b))
a={2,"HI","Bye",True,2,4}
print(type(a))
print(a)

<class 'dict'>
<class 'set'>
{True, 2, 'HI', 4, 'Bye'}

In [2]:
a.add("apple")
print(a)

{True, 2, 'HI', 4, 'Bye', 'apple'}

In [3]:
a.add("apple")
print(a)

{True, 2, 'HI', 4, 'Bye', 'apple'}

In [4]:
a.update({6,7})
print(a)

{True, 2, 'HI', 4, 7, 6, 'Bye', 'apple'}

In [5]:
del(a)    #value and set is also deleted
          clear(a) set value delete all

# Union, intersection and difference

In [6]:
A={1,2,3,4}
B={3,4,5,6}

In [7]:
A.union(B)

{1, 2, 3, 4, 5, 6}

In [8]:
A.intersection(B)

{3, 4}

In [9]:
A.difference(B) #A-b

{1, 2}

In [10]:
B.difference(A)   #B-A

{5, 6}

In [20]:
District1={"Dang","Chitwan","Pokhara","Kathmandu"}
District2={"Chitwan","Lalitpur","Pokhara","Surkhet"}
District3=District1.symmetric_difference(District2)
print(District3)

{'Lalitpur', 'Surkhet', 'Kathmandu', 'Dang'}

# Set Comphrenhension

In [11]:
{i for i in range(11) if i%2==0 }

{0, 2, 4, 6, 8, 10}