In [1]:
tup0=(1)      #have to use comma(,) otherwise python will be confused and show 'int' 
type(tup0)     #like tup=(1,)

int

In [2]:
tup=()
print(type(tup))

<class 'tuple'>

In [3]:
tup4=(1,2,3,4,5,4,5)
a,b,c,*d=tup4
print(a)
print(b)
print(c)
print(d)

1
2
3
[4, 5, 4, 5]

In [4]:
tup1=(3,2,1)
print(type(tup1),tup1)

<class 'tuple'> (3, 2, 1)

In [5]:
tup2=(1,2,3,4)
li=list(tup2)                      #Convert tuple to list to change the data
print(type(li))

<class 'list'>

In [17]:
tup3=tup2+(5,6,7)+tup2             #adding data
print(tup3)

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4)

In [7]:
tup4=(1,2,3,4,5,6,7,8)
p,q,*r=tup3                        #unpacking tuple
print(p)
print(q)
print(r)

1
2
[3, 4, 5, 6, 7, 1, 2, 3, 4]

In [8]:
if 2 in tup3:
    print("yes")
else:
    print("No")

yes

In [9]:
Siblings=("Alina","Aliza","Alju","Alish","Aayush")
temp=list(Siblings) #changing tuble to list to maipulate the tuple.
temp

['Alina', 'Aliza', 'Alju', 'Alish', 'Aayush']

In [10]:
temp.append("Asmit")         #adding
temp

['Alina', 'Aliza', 'Alju', 'Alish', 'Aayush', 'Asmit']

In [11]:
temp.pop(2)   #removing 
temp

['Alina', 'Aliza', 'Alish', 'Aayush', 'Asmit']

In [12]:
temp[1]="Hikmat"    #changing
temp

['Alina', 'Hikmat', 'Alish', 'Aayush', 'Asmit']

In [13]:
Sibling=tuple(temp)
Sibling

('Alina', 'Hikmat', 'Alish', 'Aayush', 'Asmit')

In [14]:
Tuple=(1,2,3,1,3,3,5,6,2)
tup=Tuple.count(3)
print("Count of 3 in tuple is:",tup)

Count of 3 in tuple is: 3

In [15]:
Tuple.index(5)

6

In [16]:
Tuple.index(6,5,8)

7

In [20]:
s=sum(Tuple)
print(s)

26

In [23]:
print("Maximun:",max(Tuple))
print("Minimum:",min(Tuple))

Maximun: 6
Minimum: 1

In [25]:
a=(1,4,5,64,2)
sorted(a)

[1, 2, 4, 5, 64]